// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.watch-panel {
    display: flex;
    align-items: center;

    padding: 15px;
    border: 1px solid rgba($color: #000000, $alpha: 0.2);

    .watch-panel-image {
        width: 100px;
        img {
            width: 100%;
            object-fit: contain;
        }
    }

    .watch-panel-content {
        .watch-panel-title {
            font-size: 22px;
        }
        .watch-panel-price {
            b {
                color: #ff0000;
            }
        }
        .watch-panel-favorite {
            background-color: #3071a9;
            padding: 2px 7px;
            border-radius: 5px;
            color: white;
            font-size: 12px;
        }
    }
}

